.container-fluid.text-center{
   height: 60px;
   background: #f1f1f1;
   display: inline-grid;
   justify-content: flex-start;
   align-content: center;
   border-bottom: 1px solid lightgray;
}

header{
	height: 600px;
	background: linear-gradient(#001829 54%, #000000 100%);
	border-top-right-radius: 2px;
}

main{
	height: 600px;
}

div .menu ul{
	list-style-type: none;
	padding: 20px;
}

div .menu ul li{
	padding: 15px;
}

div .menu ul li a{

}